body{
background-image: url("http://www.pageresource.com/wallpapers/wallpaper/texture-metallic-black-silver-pattern_935158.jpg");
background-size: 1700px;
background-repeat: no-repeat;
background-position: relative;
color: #4B4646;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
  color: ghostwhite;
}

/* Important styles */
#toggle {
  display: block;
  padding-left: 1199px;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin-left: 1199px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}

.item:hover { 
  color: #00B295;
  font-size: 20px;
  text-align: left
}
.aboutme{

  content: "";
  background-image: url(http://i.stack.imgur.com/1Tzky.png);
  size: 200px 100px;
  opacity: 0.9;
  display: none;
  z-index: 9;
   margin-top: 60px;
  margin-right: 200px;
  margin-left: 200px;
/*  background-image: url("http://i.stack.imgur.com/1Tzky.png");
  color: rgb(81, 80, 80);

  display:none;
  margin-top: 60px;
  margin-right: 200px;
  margin-left: 200px;*/
}
.body{
  opacity: 2.5;

}
.image{
  margin-left: 690px;
  margin-top: 90px;;
}
.instruct{
  color: ghostwhite;
}
/*.image:hover + .instruct{
display: none;
}*/

@media (max-width: 767px) {
  head{

  }
  body{
    background-position: relative;
    width: 100%;
  }
  #toggle {
  display: block;
  padding-left: 199px;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  }
  #menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin-left: 150px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}

  .image{
  margin-left: 120px;
  margin-top: 30px;;
  }
  .aboutme{
  background-image: url("http://i.stack.imgur.com/1Tzky.png");
  font-size: 16px;
  display:none;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 25px;
  }



}
/*media query for galaxy tab ipad 1-4 & mini, blackberry playbook*/
@media (min-width: 992px) and (max-width: 1199px) {
  body{
    position: relative;
    width: 100%;


/*nav {
  background: yellow;
  display: inline-table;
  
}
.menuitems{
  display: none;
}
nav .menu:hover> ul li {
display: block;
}
.menu{
 background: navy;
}
.menu:hover {
  display: block;
}
.aboutme{
  margin-top: 377px;
  text-align: center;
}
*/
