body{
background-image: url("http://www.pageresource.com/wallpapers/wallpaper/texture-metallic-black-silver-pattern_935158.jpg");
background-size: 1900px 1800px;

background-repeat: no-repeat;
background-position: relative;
}

/* Important styles */
#toggle {
  display: block;
  padding-left: 1199px;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin-left: 1123px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}
.website{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 320px;
  margin-right: 73px;
  margin-left: 73px;
  opacity: 0.9;
}
.title {
  text-align: center;
  opacity: 1.0;
 margin-top: -165px;
  color: ghostwhite;
}
h1 {
  text-align: center;
  padding-bottom: 50px;
}
h5{
  text-align: center;
}
.subtext{
  color: whitesmoke;
}
.project1{
  color: ghostwhite;
  text-align: center;
  border-bottom: solid;
  border-width: 9px;
}
.game {
  color: ghostwhite;
  text-align: center;
  border-bottom: solid;
  border-width: 9px;
}
section {
  padding-top: 40px;
  border-top: solid;
  border-bottom: solid;
  border-width: 9px;
  border-color: whitesmoke;
}
/*enlarges images*/
#largeImgPanel {
  text-align: center;
  visibility: hidden;
  position: fixed;
  z-index: 100;
 top: 0; left: 0; width: 100%; height: 100%;
 background-color: rgba(100,100,100, 0.5);
}
#largeImg{
  height: 99%;
  width: 48%;
}
img{
  margin-left: 135px;
  width: 299px;

}
.description{
  padding-top: 25px;
  color: ghostwhite;
}
@media (max-width: 767px) {
  body{
  background-repeat: no-repeat;
  background-position: relative;
  background-size: 2903px 2587px;
  }
  #toggle {
  display: block;
  padding-left: 199px;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  }
  #menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin-left: 104px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}

  img{
  margin-left: 70px;
  width: 200px;
  margin-top: 30px;;
  }
 .website{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.9;
  }
  #largeImg{
  height: 49px;
  width: 400px;
}




}